.top{
    width: 100vW;
    max-width: 80em;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #0ef;
    border: 2px solid #0ef;
    z-index: 3;
    position: sticky;
    top: 0;
    background-color:rgb(30, 30, 30);
}
.logo{
    width: 75px;
    border-radius: 5rem;
    margin: 0.5em;
    border: 2px solid #0ef;
}
.item{
    margin: 1em;
    font-size: 1.8em;
    font-weight: 400;
}
.btn{
    background-color: white;
    color: black;
    font-size: 1.8em;
    border: 1px solid #0ef;
    border-radius:15px;
    cursor: pointer;
    padding: 0.15em;
    margin: 1em;
}
.item:hover{
    cursor: pointer;
    border-bottom: 2px solid ;
    padding-bottom: 3px;
}
/* ---------------------Home section -------------------- */
#home{
    background-image: url('./images/background.png');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    max-width: 80em;
    max-height: 90vh;
    margin: 0.5em auto;
}
.title{
    height: 90vh;
    width: 100vw;
    max-width: 80em;
    /* padding: 2rem; */
    font-size: 2rem;
    font-weight: 700;
    padding-top: 18%;
    padding-left: 8%;

} 
.title h1{
    color: rgb(255, 253, 108);
}
/* ---------------------------About section -------------- */
 #about{
    position: relative;
    width: 100vw;
    max-width: 80em;
   margin: 0.5em auto;
   border: 2px solid ;
   background-color: white;
   color: black;
}
.headink{
    text-align: center;
    font-size: 2rem;
    padding: 1em;
}
#info{
 display: flex;
 flex-direction: column;
 p{
    justify-content: center;
    margin: auto;
    font-size: 1.5em;
 }
}
#bio{
    margin: 2em;
    padding: 2em;
    border: 2px solid #0ef;
    border-radius: 1em;
    h1{ 
        font-size: 2em;
        padding: 1em 0;
    }
    h2{
        color: #0ef;
        padding: 0.5em 0;
    }
    p{
        font-size: 1.4em;
    }
}
#skil{
    list-style-type: none;
    display: flex;
    li{
        margin: 1em;
        padding: 0.5em;
        border-radius:1em;
        background-color: rgb(151, 220, 224);
        font-size: 1.2em;
        color: blue;
    }
}


.profile{
    background: url('./images/profile.jpg');
    background-position: center;
    justify-content: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border:1px solid gold;
    border-radius: 200px;
    margin: 2em  auto;
}
.profile:hover{
    box-shadow: 2px 2px 5px #0ef;
    /* transition: 1s ease; */
    border:2px solid #0ef ;
}
/* ===================project section======================== */
#projects{
    width: 100vw;
    background-color: #4ec4ef ;
    position: relative;
    width: 100vw;
    max-width: 80em;
    margin: 0.5em auto;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    justify-content: space-around;
    margin: auto;
    /* padding: 1rem; */
}
.project{
    border: 2px solid rgb(255, 255, 255);
    padding: 2rem;
    font-size: 1.8em;
    margin: 1em;
    h1{
        color:rgb(222, 255, 5) ;
    }
}
.project:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px  rgb(236, 240, 102);
    transition: delay 3s;
}
#contact{
    width: 100vw;
    max-width: 80em;
    justify-content: center;
    margin: 0.5em auto;
    height: 55vh;
    /* border: 2px solid; */
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: auto;
}
.name,.email ,.text{
    padding: 0.5em;
    margin: 1em ;
    border: 2px solid #0ef;
    color: white;   
    font-size: medium;
}
.submit{
    min-width: 20em;
    justify-content: center;
    padding: 1em;
    margin:  0.5em auto;
    border: 2px solid #0ef;
    color: white;
    cursor: pointer;
    border-radius: 2em;
}
.submit a{
    color: #0ef;
    text-decoration: none;
    
}
.submit:hover{
    box-shadow: 2px 2px 5px #0ef;
}
footer{
    width: 100vw;
    text-align: center;
    justify-content: center;
    /* margin:  1em auto; */
    /* line-height: 22px; */
    background-color: black;
    font-size: 1.2em;
}
.footer{
    padding: 1em;
}
.active{
    border-bottom: 2px solid #0ef;
}
@media screen and (max-width:700px) {
    .logo{
        margin: 0.2em;
        width: 50px;
    }
    .item{
        margin:0.4em;
        font-size: 1em;
    }
    #home{
        height: 60vh;
    }

    .title{
        font-size: 1em;
        margin: auto;
        padding-top: 100px;  
    }
    .project h1{
        font-size: 1.2em;
    }
    .project-container,
    .contact{
        max-width: 60em;
    }
    .project{
        font-size: 1em;
    }
    .headink{
        padding: 1em;
        font-size: 1.4em;
    }
    #info{
        p{
            font-size: 1em;
            padding: 1em;
        }
    }
    #bio{
        margin: 1em;
        padding: 1em;
        h1,h2,p{
            font-size: 1em;
        }
        h1{
            color: rgb(4, 53, 248);
        }
    }
    #skil{
       flex-wrap: wrap;
       li{
        font-size: 1em;
        margin: 0.5em;
       }
    }
}